//Capital letter
.capital-letter{
	&:first-letter{
		font-size: 5em;
    float: left;
    margin-right: 0.2em;
    line-height: 0.8em;
    font-family: serif;
	}
}

//Justify text
.justify-align{
	text-align: justify;
}
//Margins
.margin-top-1{
	margin-top: 1rem;
}
.margin-top-2{
	margin-top: 2rem;
}
.margin-top-3{
	margin-top: 3rem;
}

//Shadows
.text-shadow{
	text-shadow: 1px 2px 4px black;
}

.flex{
	height: inherit;
	display: flex;
	&.vertical-start{
		align-items: flex-start;
	}
	&.vertical-center{
		align-items: center;
	}
	&.vertical-end{
		align-items: flex-end;
	}
}
