.navbar-fixed{
	nav{
		background-color:$primary-color;
		.nav-wrapper{
			a.brand-logo{
				height: inherit;
				img{
					height: inherit;
					padding: 5px;
				}
				span{
					font-size: 1.5rem;
					position: relative;
					bottom: 20px;
				}
			}
		}
	}
}

//SideNav
.side-nav{
	.user-view{
		.background{
			background-color: $primary-color;
		}
	}
}