
.welcome{
	h1{
		margin-top: 1.5em;
	}
}
.section{
	&.grid{
		padding-top: 6rem;
	}
}
.icon-block{
	i.material-icons{
		font-size: inherit;
	}
}
footer{
	a{
		display: flex;
		}
}
.footer-copyright{
	a{
		display: inline;
	}
}
@mixin grid{
	.col.s12.m4{
		padding: 0 27px;
}
