footer.page-footer.grey
	.container
		.row
			.col.s12.social-icons
				a.twitter(href="https://twitter.com/bygossipgirl/" target="new")
					i.fa.fa-twitter.fa-2x(aria-hidden="true")
				a.linkedin(href="https://www.linkedin.com/in/beatriz-gonz%C3%A1lez-rubio-7605a858/" target="new")
					i.fa.fa-linkedin.fa-2x(aria-hidden="true")
				a.email(href="mailto:hola@beatrizgonzalezrubio.es" target="new")
					i.fa.fa-envelope-o.fa-2x(aria-hidden="true")
	.footer-copyright
		.container
			.col.s12
				span.black-text Made by 
					a.black-text(href="./") Beatriz

		