.row
	.container
		.col.s12.m6
			h2 Company Bio
			p We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
		.col.s12.m3
		.col.s12.m3