footer
	.page-footer.orange
		.row
			.container
				.col.s12.m6
					h5 Company Bio
					p We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
				.col.s12.m3
					h5 Settings
					ul 
						li
							a.white-text(href="") link 1
						li
							a.white-text(href="") link 2
						li
							a.white-text(href="") link 3
						li
							a.white-text(href="") link 4

				.col.s12.m3
					h5 Connect
					ul 
						li
							a.white-text(href="") link 1
						li
							a.white-text(href="") link 2
						li
							a.white-text(href="") link 3
						li
							a.white-text(href="") link 4
		.row
			.footer-copyright
				.container
					.col.s12
						span Made by 
							a.orange-text.text-lighten-3(href="") Beatriz

		