footer.page-footer.grey
	.container
		.row
			.col.s12.social-icons
				a.twitter
					i.fa.fa-twitter.fa-2x(aria-hidden="true")
				a.linkedin
					i.fa.fa-linkedin.fa-2x(aria-hidden="true")
	.footer-copyright.grey.lighten-1
		.container
			.col.s12
				span Made by 
					a.orange-text.text-lighten-3(href="") Beatriz

		