title Beatriz González Rubio
meta(name="owner" content="Beatriz González Rubio")
meta(name="author" content="Beatriz González Rubio")
meta(name="description" content="Digital Marketing & Frontend Designer. Apasionada de las tecnologías web y del marketing digital. Descubre más sobre mi haciendo click aquí.")
meta(name="keyword" content="maquetador html, maquetador sass, SEO, SEM")

//Metaetiquetas de Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="http://www.beatrizgonzalezrubio.es")
meta(name="twitter:title" content="Beatriz González Rubio")
meta(name="twitter:description" content="Frontend Designer & Digital Analyst Marketing. Apasionada de las tecnologías web y del marketing digital. Descubre más sobre mi haciendo click aquí.")
meta(name="twitter:image" content="http://www.beatrizgonzalezrubio.es/assets/beatrizdigitalanalyst.jpg")
meta(name="twitter:alt" content="Beatriz González, analista digital y desarrolladora de html5 y css")
//Metaetiquetas de Linkedin
meta(property="og:title" content="Beatriz González Rubio")
meta(property="og:description" content="Frontend Designer & Digital Analyst Marketing. Apasionada de las tecnologías web y del marketing digital. Descubre más sobre mi haciendo click aquí.")
meta(property="og:url" content="http://www.beatrizgonzalezrubio.es")
meta(property="og:image" content="http://www.beatrizgonzalezrubio.es/assets/beatrizdigitalanalyst.jpg")