include _mixin
doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Materialize
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel="shortcut icon" href="http://materializecss.com/images/favicon/apple-touch-icon-152x152.png")
		meta(name="theme-color" content="#29b6f6")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
		link(rel='stylesheet', href='./css/theme.css')
		script(src='./js/app.js')
	body
		.fixed-action-btn
			a.btn-floating.btn-large.waves-effect.waves-light.hide-on-med-and-up(href="tel:622086461")
				i.fa.fa-phone(aria-hidden="true")
		header
			include _navbar
		section.welcome
			.container
				.row.white-text.text-shadow
					.col.s12.center-align
						h1 Frontend Designer & Digital Anaylist Marketing
					.col.s12.center-align
						h2.light A modern responsive front-end framework based on Material Design
				.row
					.col.s12.center-align
						a.btn.waves-effect
							i.fa.fa-download.right(aria-hidden="true")
							span DESCARGA MI CV
		section.aboutMe.margin-top-2#aboutMe
			.container
				.row
					.col.s12.center-align
						h4 Sobre Mi
			.container
				.row
					.col.s12.m5
						.card
							.card-image
								img(src="http://materializecss.com/images/sample-1.jpg")
							.card-content.center-align
								span.card-title
									strong Certificados
								p Haz clic en este enlace para ver mi certificado.
							.card-action.center-align
								a.btn.waves-effect
									span Google Analytics
									i.fa.fa-google.left(aria-hidden="true")
					.col.s12.m7.flex.vertical-center
						div
							p Apasionada del marketing digital me embarqué en este mundo trabajando inicialmente en el sector de la moda como asesora de imagen durante más de 10 años; siendo consciente de la transformación digital que estaba experimentando el sector en el que me encontraba, decidí renovar mi perfil, preparándome en herramientas como #[strong Google Adwords] y #[strong Google Analytics] de las cuales obtuve certificado en ambas; arranca aquí mi viaje hacia el marketing digital 2.0.
							
							p A partir de aquí, entré en contacto con otras herramientas también muy útiles como #[strong Google Tag Manager], que utilizo habitualmente para todo lo relacionado con Analytics (implementación de su etiqueta en una web y creación de conversiones y otros eventos a través de selectores CSS).
							p Posteriormente, creí que sería buena idea tener un espacio propio, y decidí prepararme en #[strong HTML5] y #[strong CSS], utilizando para ambas tecnologías: #[strong Pug] y #[strong Sass] como preprocesadores y apoyándome en Materialize como framework; todo ello para lograr una mayor visibilidad que me permitiera crear un espacio donde aportar contenido de interés, artículos propios que inviten a la reflexión y respuesta, y formar parte de una comunidad apasionada por hacer cosas enfocadas a crear un buen user experiencie. 

		section.margin-top-2#misConocimientos
			.container
				.row
					.col.s12.center-align
						h4 Mis Conocimientos en Marketing Digital
			.container
				.row
					+grid(
					"flash_on", 
					"Google Adwords y Google Analytics", 
					"Para el diseño de campañas de publicidad, utilizo G. Adwords a través de su herramienta offline <strong> Editor de Adwords.</strong> Uso una cuenta MCC para la gestión de múltiples campañas. A partir de aquí, me apoyo en Google Analytics, para la creación y el seguimiento de conversiones."
					)
					+grid(
					"group", 
					"User Experience Focused",
					"parrBy utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.afo3"
					)
					+grid("settings", "Easy to work with", "We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.")
		section.margin-top-2.repositorios#misRepositorios
			.container
				.row
					.col.s12.center-align
						i.fa-5x.fa.fa-github-alt(aria-hidden="true")
						div.margin-top-1
							a.waves-effect.btn(href="https://github.com/begoru" target="new")
								span Mis Repositorios
						
		include _footer